{% extends 'base.html' %}

{% block main_content %}
    <div class = "row">
        <div class = "col-sm-12">
            <div class = "card">                        
                <div class="card-header text-center">
                    <h5>
                        Lista de ultimas <span class="text-success">COMPRAS</span>
                    </h5>                        
                </div>            
                <div class = "card-body">
                    <div class="table-responsive">
                        <table id = 'tabla-compras' style="width:100%" class="table">
                            <thead>
                                <tr class="text-center">
                                    <th scope='col'> # </th>
                                    <th scope='col'> Fecha </th>
                                    <th scope='col'> Total Pzas </th>
                                    <th scope='col'> Subtotal </th>
                                    <th scope='col'> Impuesto </th>
                                    <th scope='col'> Total </th>
                                    <th scope='col'> Moneda </th>                                    
                                    <th scope='col'> Forma Pago</th>
                                    <th scope='col'> Metodo Pago</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% if compras %}
                                    {% for compra in compras %}
                                        <tr class="text-center">
                                            <th scope="row"><small>{{forloop.counter}}</small></th>
                                            <td> {{compra.fecha}}</td>
                                            <td> {{compra.total_piezas}}</td>
                                            <td>$ {{compra.subtotal|floatformat}}</td>
                                            <td>$ {{compra.impuesto|floatformat}}</td>
                                            <td>$ {{compra.total|floatformat}}</td>
                                            <td> {{compra.moneda}}</td>
                                            <td> {{compra.forma_pago}}</td>                                                                               
                                            <td> {{compra.metodo_pago}}</td>                                                                               
                                        </tr>
                                    {% endfor %}
                                
                                {% endif %}
                            </tbody>
                        </table>
                        
                    </div>                
                    <hr>
                        
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#tabla-compras').dataTable({
                "scrollX": true,
                dom: "<'form-group row'<'mx-auto'B> <'mx-auto'l> <'mx-auto'f>>" +
                "<'wrapper'<'mx-auto'rt>>" +
                "<'form-group row'<'mx-auto'i><'mx-auto'p>>",                
                buttons: [
                    {extend: 'colvis', text: 'Mostrar'},
                    {extend: 'pdfHtml5', text: 'PDF', exportOptions: {columns: ':visible'}},
                    {extend: 'excel', text: 'Excel', exportOptions: {columns: ':visible'}},
                    {extend: 'print', text: 'Imprimir', exportOptions: {columns: ':visible'}}
                ],
                "order": [[0, "asc"]],
                "lengthMenu": [5, 10, 25, 50, 75, 100],                
                "language": {
                    "decimal": "",
                    "emptyTable": "No hay datos disponibles en la tabla",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "infoEmpty": "Mostrando del 0 al 0 de 0 entradas",
                    "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ entradas.  ",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "colvis": "columna visible",
                    "zeroRecords": "No se encontraron registros",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
    
{% endblock %}

 



