{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Regístrate en nuestra plataforma para crear una nueva cuenta y empezar a disfrutar de nuestros servicios. Completa el formulario de registro y accede a funcionalidades exclusivas."
    />
    <meta name="author" content="Ayala Canul Emiliano" />
    <title>PrimeMed Supply</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">        
    <link href="{% static 'css/pnotify.custom.min.css' %}" type="text/css" rel="stylesheet">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/pnotify.custom.min.js' %}"></script>

  </head>
  <body>
    <script>
      class Alerta{        
        constructor(tipo, titulo, texto){        
          this.tipo = tipo;
          this.titulo = titulo;
          this.texto = texto;        
          this.showAlerta();
        }

        showAlerta(){        
          if(this.tipo == Alerta.SUCCESS || this.tipo === Alerta.ERROR || this.tipo === Alerta.WARNING || this.tipo === Alerta.INFO){
              let le_titulo = this.titulo;
              let le_texto = this.texto;
              let le_tipo = this.tipo;                        
              let tiempo_delay = 7500;

                  if(this.tipo == Alerta.SUCCESS){
                      tiempo_delay = 5500;
                  }else if(this.tipo == Alerta.INFO){
                      tiempo_delay = 10000;            
                  }else if(this.tipo == Alerta.WARNING){
                      tiempo_delay = 15000;                
                  }else if(this.tipo == Alerta.ERROR){
                      tiempo_delay = 20000;
                  }  

              $(function(){                
                  new PNotify({                      
                      title: le_titulo,
                      text: le_texto,
                      styling: 'bootstrap3',
                      type: le_tipo,
                      delay: tiempo_delay,
                  });    
              });
          }else{
              alert(this.titulo + ': ' + this.texto);
          }
        }

        show(){
            this.showAlerta();
        }
      }
      Alerta.SUCCESS = 'success';
      Alerta.ERROR = 'error';
      Alerta.WARNING = 'warning';
      Alerta.INFO = 'info';
    </script>
    
    <script type="text/javascript">        
      {% if messages %} {# Cuando proviene del servidor #}
          {% for message in messages %}                
              {% if message.level_tag == 'error' %}                          
                  new Alerta(Alerta.ERROR, '{{message.message}}', '{{message.extra_tags}}');
              {% elif message.level_tag == 'success'%}
                  new Alerta(Alerta.SUCCESS, '{{message.message}}', '{{message.extra_tags}}');
              {% elif message.level_tag == 'warning'%}
                  new Alerta(Alerta.WARNING, '{{message.message}}', '{{message.extra_tags}}');
              {% elif message.level_tag == 'info'%}
                  new Alerta(Alerta.INFO, '{{message.message}}', '{{message.extra_tags}}');
              {% else %}            
                  new Alerta(Alerta.INFO, 'DEV: {{message.message}}', '{{message.extra_tags}}');
              {% endif %}
          {% endfor %}        
      {% endif %}
    </script>
    <style>
      @media (min-width: 1025px) {
        .h-custom {
          height: 100vh !important;
        }
      }
    </style>
    <section class="h-100 h-custom" style="background-color: #2a7ac1">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">
                  Registro de usuario
                </h3>
                <form class="px-md-2" method="POST">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline datepicker">
                        <input
                          type="text"
                          class="form-control"
                          id="username"
                          name="username"
                          required
                        />
                        <label for="username" class="form-label"
                          >*Nombre de usuario</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline datepicker">
                        <input
                          type="text"
                          class="form-control"
                          id="last_name"
                          name="last_name"
                          required
                        />
                        <label for="last_name" class="form-label"
                          >*Apellido</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline datepicker">
                        <input
                          type="password"
                          class="form-control"
                          id="password"
                          name="password"
                          required
                        />
                        <label for="password" class="form-label"
                          >*Contraseña</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline datepicker">
                        <input
                          type="password"
                          class="form-control"
                          id="password_repet"
                          name="password_repet"
                          required
                        />
                        <label for="password_repet" class="form-label"
                          >*Repetir Contraseña</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline datepicker">
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          name="email"
                          required
                        />
                        <label for="email" class="form-label"
                          >*e-mail</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline datepicker">
                        <input
                          type="text"
                          class="form-control"
                          id="first_name"
                          name="first_name"
                          required
                        />
                        <label for="first_name" class="form-label"
                          >Nombre</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline datepicker">
                        <input
                          type="text"
                          class="form-control"
                          id="rfc"
                          name="rfc"
                          required
                        />
                        <label for="rfc" class="form-label"
                          >*RFC</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline datepicker">
                        <input
                          type="text"
                          class="form-control"
                          id="direccion"
                          name="direccion"
                          required
                        />
                        <label for="direccion" class="form-label"
                          >*Direccion</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline datepicker">
                        <input
                          type="text"
                          class="form-control"
                          id="codigo_postal"
                          name="codigo_postal"
                          required
                        />
                        <label for="codigo_postal" class="form-label"
                          >*Codigo Postal</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline datepicker">
                        <input
                          type="tel"
                          class="form-control"
                          id="telefono"
                          name="telefono"
                          required
                        />
                        <label for="telefono" class="form-label"
                          >*Número telefonico</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline datepicker">
                        <input
                          type="text"
                          class="form-control"
                          id="estado"
                          name="estado"
                          required
                        />
                        <label for="estado" class="form-label"
                          >*Estado</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline datepicker">
                        <input
                          type="text"
                          class="form-control"
                          id="ciudad"
                          name="ciudad"
                          required
                        />
                        <label for="ciudad" class="form-label"
                          >*Ciudad</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <button
                        type="submit"
                        data-mdb-button-init
                        data-mdb-ripple-init
                        class="btn btn-primary btn-lg mb-1"
                      >
                        Submit
                      </button>
                    </div>
                    <div class="col-md-6 mb-4">
                      <a href="{% url 'index' %}" class="btn btn-danger btn-lg mb-1" role="button">Cancelar</a>
                    </div>  
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
